#
# Files to be ignored by Git (do not commit)
#

*.o
*.exe

# CMake
bin/
**/cmake_install.cmake
**/CMakeCache.txt
**/CMakeFiles/
etc/UseFLTK.cmake
cmake_uninstall.cmake
UseFLTK.cmake
FLTK.sln
FLTK-Targets.cmake
FLTKConfig.cmake
etc/FLTKConfig.cmake

# MSVC
*.tlog
.vs/

# VS Code (Visual Studio Code) Editor
.vscode/

# /
/autom4te*.cache
/build
/clang
/config.cache
/config.h
/config.log
/config.status
/configure
/fltk-config
/fltk.list
/fltk.spec
/makeinclude
/*.bck
/TAGS

# /FL
/FL/fl_config.h
/FL/Makefile
/FL/*.bck

# /cairo/
/cairo/*.so*
/cairo/*.dll

# /documentation/
# see documentation/.gitignore

# /examples/
# see examples/.gitignore

# /fluid/
/fluid/fluid
/fluid/fluid-shared
/fluid/*.bck
/fluid/*.exe
/fluid/TAGS
/fluid/fluid.app
/fluid/pixmaps/*.bck
/fluid/documentation/html/

# /ide/VisualC2008/
/ide/VisualC2008/fltk.ncb
/ide/VisualC2008/*.pdb
/ide/VisualC2008/*.user
/ide/VisualC2008/*_/
/ide/VisualC2008/*__0/
/ide/VisualC2008/fltkdll/
/ide/VisualC2008/fltkdlld/
/ide/VisualC2008/Debug/
/ide/VisualC2008/Debug Cairo/
/ide/VisualC2008/Release/
/ide/VisualC2008/Release Cairo/

# /ide/VisualC2010/
/ide/VisualC2010/*.user
/ide/VisualC2010/*_debug/
/ide/VisualC2010/*_release/
/ide/VisualC2010/fltk.*sdf
/ide/VisualC2010/fltk.suo
/ide/VisualC2010/fltkdlld.pdb
/ide/VisualC2010/fltkdll/
/ide/VisualC2010/fltkdlld/
/ide/VisualC2010/Debug/
/ide/VisualC2010/Debug Cairo/
/ide/VisualC2010/Release/
/ide/VisualC2010/Release Cairo/

# /ide/VisualC2015
/ide/VisualC2015/*.user
/ide/VisualC2015/*_debug/
/ide/VisualC2015/*.db
/ide/VisualC2015/*_release/
/ide/VisualC2015/fltk.*sdf
/ide/VisualC2015/fltk.suo
/ide/VisualC2015/fltkdlld.pdb
/ide/VisualC2015/fltkdll/
/ide/VisualC2015/fltkdlld/
/ide/VisualC2015/Debug/
/ide/VisualC2015/Debug Cairo/
/ide/VisualC2015/Release/
/ide/VisualC2015/Release Cairo/


# /ide/Xcode3/
/ide/Xcode3/build

# /ide/Xcode3/FLTK.xcodeproj/
/ide/Xcode3/FLTK.xcodeproj/*.pbxuser
/ide/Xcode3/FLTK.xcodeproj/*.perspectivev3

# /ide/Xcode4/
/ide/Xcode4/build

# /ide/Xcode4/FLTK.xcodeproj/
/ide/Xcode4/FLTK.xcodeproj/*.pbxuser
/ide/Xcode4/FLTK.xcodeproj/*.perspectivev3

# /lib/
/lib/lib*
/lib/*.lib
/lib/*.a

# /misc/
/misc/doxystar

# /src/
/src/*.so*
/src/*.sl*
/src/*.a
/src/*.bck
/src/*.dll
/src/*.sav
/src/*.dylib

# Wayland build artifacts (generated files)

src/text-input-client-protocol.h
src/text-input-protocol.c
src/xdg-decoration-client-protocol.h
src/xdg-decoration-protocol.c
src/xdg-shell-client-protocol.h
src/xdg-shell-protocol.c

# Wayland demo programs (no longer being built)

# libdecor/build/demo
# libdecor/build/egl

**/.DS_Store
*.back
*.bak
*.swp
configure~
